<button
  type="button"
  class="btn btn-primary mb-3"
  (click)="redirectionToCreatePost()"
>
  Créer un article
</button>

<div *ngIf="posts && posts.length > 0">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let post of posts">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre : {{ post.title }}</h5>
          <p class="card-text">
            date : {{ post.created_at | date : "dd/MM/yyyy HH:mm" }} auteur :
            {{ post.user }}
          </p>
          <p class="card-text">
            {{ post.content }}
          </p>
          <button
            (click)="redirectionToOnePost(post.id)"
            class="btn btn-primary"
          >
            Voir l'article
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!posts || posts.length === 0">
  <p>Aucun article trouvé.</p>
</div>
