<div *ngIf="post" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <button
            type="button"
            (click)="redirectionToAllPosts()"
            class="btn bi-arrow-left"
            aria-label="Close"
          ></button>
          <h5 class="card-title">Titre : {{ post.title }}</h5>

          <p class="card-text">
            date : {{ post.created_at | date : "dd/MM/yyyy HH:mm" }} thèmes :
            {{ post.topic }} auteur : {{ post.user }}
          </p>
          <p class="card-text">
            {{ post.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6" *ngIf="haveCommentary">
      <h5 class="card-title">Commentaires :</h5>
      <div class="card">
        <div class="card-body" *ngFor="let commentary of post.commentaries">
          <p class="card-text">
            {{ commentary.message }}
          </p>
          <p class="card-text">
            Par : {{ commentary.user }} <br />
            Le {{ commentary.created_at | date : "dd/MM/yyyy HH:mm" }}
          </p>
          <p class="card-text"></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-outline form-white mb-4 larger-textarea">
      <textarea
        type="textarea"
        placeholder="Commentaire"
        formControlName="message"
        class="form-control form-control-lg"
      ></textarea>
      <button type="submit" class="btn bi-check btn-dark mb-3"></button>
    </div>
  </form>
</div>
