<div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let topic of topics">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre du thème : {{ topic.title }}</h5>
          <p class="card-text">
            {{ topic.description }}
          </p>
          <div class="d-flex justify-content-center">
            <button (click)="subscribeToTopic(topic)" class="btn">
              S'abonner
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
