.topic-container {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(115, 63, 219);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.card-body {
  background-color: rgb(237, 237, 237);
}

.card {
  margin: 8px;
}
