<body>
  <img src="../assets/logo_p6.png" alt="image" height="100px" />
  <div class="button-container">
    <div *ngIf="$isLogged() | async; else notLogged">
      <span routerLink="posts" class="link"><button>Article</button></span>
      <span routerLink="topics" class="link"><button>Theme</button></span>
      <span (click)="logout()" class="link">Logout</span>
    </div>
    <ng-template #notLogged>
      <span routerLink="login" class="link"><button>Login</button></span>
      <span routerLink="register" class="link"><button>Register</button></span>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</body>
