<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <span routerLink=""
              ><button
                type="button"
                class="btn bi-arrow-left"
                aria-label="Close"
              ></button
            ></span>
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Se connecter</h2>
              <p class="mb-5">Entrez votre identifiant et mot de passe !</p>
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    placeholder="Adresse e-mail"
                    formControlName="email"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <input
                    [type]="hide ? 'password' : 'text'"
                    placeholder="Mot de passe"
                    type="password"
                    formControlName="password"
                    class="form-control form-control-lg"
                  />
                </div>
                <button
                  class="btn btn-lg px-5"
                  [disabled]="form.invalid"
                  type="submit"
                >
                  Se connecter
                </button>
                <p *ngIf="onError" class="error">Une erreur est survenue</p>
              </form>
            </div>

            <div>
              <p class="mb-0">
                Pas encore inscrit ?
                <a routerLink="/register" class="fw-bold">S'inscrire</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
